.presenting {
    background: $gradient;
    @include desktop {
        background: $color-secondary;
    }
}


.card {
    margin: 10px auto;
    &__body {
        @include tablet {
            box-shadow: 3px 3px 10px $color-secondary;
            &:hover {
                opacity: 1;
	            animation: flash 1.5s;
                @include desktop {
                    transform: scale(1.05);
                    animation: none;
                }
            }
        }
        &-text {
            display: flex;
            justify-content: space-between;
        }
    }
    &__img {
        padding-top: 15px;
    }
}

#camera-cards {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        & :nth-child(5) {
            margin-left: 4.2%;
        }
        }
}